@model WebApp.Models.PaginaInicialViewModel

@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h4>Quantidade de Autors: @Model.QuantidadeDeAutors</h4>
</div>
<div class="text-center">
    <h4>Quantidade de Livros: @Model.QuantidadeDeLivros</h4>
</div>