@model ErroDelecao
{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Você não pode deletar autores com livros cadastrados, apague os livros para poder apagar o autor</h2>


